{% extends "base.html" %}

{% block content %}
<form class="form" action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <h2>Your actual location:</h2>
        <label for="latitude">Latitude</label>
        <input class="form-control" id="latitude" name="latitude">
        <label for="longitude">Longitude</label>
        <input class="form-control" id="longitude" name="longitude">
        <button type="submit" class="btn btn-success">Find the nearest free bike</button>
    </div>
</form>

{% if search %}
    {% if nearest_station and distance < 10.0 %}
        <p>The nearest free bike is the <b>{{ nearest_station.name }}</b> station.</p>
        <p>The distance from your location is {{ distance }} km.</p>
        {{ map|safe }}
        <form action="{% url 'destination' %}" class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="destination">Type in your destination adress</label>
                <input class="form-control" id="destination" name="destination">
                <button type="submit" class="btn btn-success">Find the nearest free place</button>
            </div>
        </form>
    {% else %}
        <p>Sorry, there's no free bike found at less than 10 km ! Consider using another option.</p>
    {% endif %}
{% endif %}

{% endblock %}
